{% extends 'base.html' %}
{% load static %}
{% load extras %}
<head>
  <title>{% block title %}Contact{% endblock %}</title>
</head>
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"

<div class="container">
	<h1 class="form-signin-heading">Contact Us</h1>
	<form class="form-signin" id="page_form" method='post' action='/contact/'>
		<h3 class="form-signin-heading">Contact</h3>
		
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
		<div class="form-group">
			{{ field.errors }}
			{{field.help_text}}
			{{field.label}}
			{{ field|addcls:'form-control' }}
		</div>
		{% endfor %}

		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Contact</button>
	</form>
</div>

{% endblock %}